html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Slightly off-white background for better visibility */
}

#typingCanvas {
    --padding: 20px;

    width: calc(100% - 2 * var(--padding));
    height: calc(100% - 2 * var(--padding));

    border: none;
    outline: none; /* Removes the default focus outline */
    background: transparent; /* Makes the textarea background transparent */
    margin: 0;
    padding: var(--padding); /* Adds some padding for better text positioning */
    resize: none;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;
    color: #333; /* Darker text color for better contrast */
}

/* Ensuring the cursor is always visible */
#typingCanvas:focus {
    outline: none; /* Removes the outline to keep the interface clean */
}

